.Card-header {
  &-figure {
    width: 100%;
    margin: 0;
    & img {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.Card-header {
  &-description {
    padding: 1em;
    display: inline-block;
  }

  &-figureIcon {
    width: 3em;
    display: inline-block;
    margin-left: 1em;
    & img {
      border-radius: 60%;
    }
  }
  &-price {
    margin: 0px 0px 6px 0px;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1024px) {
  .Card-header {
    display: inline-block;
    &-figure {
      width: 360px;
    }
  }
}
