.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  & > div {
    background-color: #002d80;
    height: 100%;
    width: 10px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  // prettier-ignore
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  // prettier-ignore
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  // prettier-ignore
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    // prettier-ignore
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
