.ErrorState {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;

  &-Image {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block;
  }
}