@import '../../../App/App.scss';

.Navbar {
  background-color: $primaryMain;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &-Image {
    margin-right: auto;
  }
  &-IconMenu {
    margin: 0 2rem;
  }
}
