.CardContent {
  width: 100%;
  text-align: center;
  &-Features {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    & + li {
      margin: 5px;
    }
  }
  &-Description {
    padding: 0 1em;
  }
}
