@import '../../../App/App.scss';

.Select {
  margin: spacing(2) 0;
  padding: 12px;
  width: 300px;
  min-height: 62px;
  background: #fff;
  border-radius: spacing(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &_status {
    &_valid {
      border: 2px solid $success;
    }
    &_invalid {
      border: 2px solid $danger;
    }
  }
  &-Label {
    color: $primaryMain;
    font-size: spacing(1.5);
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    &_status {
      &_valid {
        color: $success;
      }
      &_invalid {
        color: $danger;
      }
    }
  }
  &-Input {
    color: $primaryMain;
    font-size: spacing(1.6);
    font-weight: bold;
    display: block;
    border: none;
    text-transform: capitalize;
  }
  &-StartIcon {
    width: 24px;
    height: 24px;
  }
  &-EndIcon {
    &_icon {
      cursor: pointer;
    }
    width: 24px;
    height: 24px;
  }
  svg {
    width: spacing(3); // 24px
  }

  &-Options {
    border-top-width: 0;
    list-style: none;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    padding: 0;

    & li {
      padding: 0.5rem;
      font-size: spacing(1.6);

      &:hover {
        background-color: $primaryLight;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid $primaryLight;
      }
    }
  }

  &-Option_active {
    background-color: $primaryLight;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }
}
