@import '../../../App/App.scss';

.RadioButtonsAttached {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: spacing(2) 0;
  border: solid 2px $primaryMain;
  border-radius: spacing(1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &_status {
    &_valid {
      border-color: $success;
    }
    &_invalid {
      border-color: $danger;
    }
  }

  input[type='radio'] {
    position: absolute;
    display: none;
    visibility: hidden;
  }

  label {
    width: 150px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: $primaryLight;
    cursor: pointer;
  }

  input[type='radio']:checked + label {
    color: $white;
    background: $primaryMain;
  }
}
