@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$primaryMain: #0055b0;
$primaryLight: #5581e3;
$primaryDark: #002d80;
$primaryContrastText: #ffffff;

$secondaryMain: #fcac1e;
$secondaryLight: #ffde57;
$secondaryDark: #c47d00;
$secondaryContrastText: #000000;

$success: #43a047;
$danger: #e53935;
$warning: #ffb300;
$informational: #1e88e5;

$black: #333333;
$gray1: #4f4f4f;
$gray2: #828282;
$gray3: #bdbdbd;
$gray4: #e0e0e0;
$white: #f2f2f2;

$baseUnit: 8px;

body {
  font-family: 'Nunito', sans-serif;
}

@function spacing($multiplier) {
  @return $baseUnit * $multiplier;
}

%full-vwcenter-vhcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
