$colorActions: #fcac1e;

.Card-action {
  padding: 1rem;
  &-button {
    background-color: $colorActions;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 0.6rem;
    &:nth-of-type(2) {
      margin-left: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Card-action {
    display: flex;
    justify-content: flex-end;
  }
}
