@import '../../../App/App.scss';

// 42px height
// 60px height
// 72px height
$sizes: 'small' spacing(1.5) 11px, 'medium' spacing(2) 18px, 'large' spacing(3) 19px;

$colors: (
  // default: default,
  // inherit: inherit,
  primary: $primaryMain,
  secondary: $secondaryMain,
  success: $success,
  error: $danger,
  warning: $warning,
  info: $informational,
  black: $black,
  white: $white
);

%base-button {
  font-weight: bold;
  padding-left: spacing(1.5);
  padding-right: spacing(1.5);
  width: auto;
  // min-width: spacing(18);
  /* &_attached {
    &_none {
    }
    &_left {
    }
    &_right {
    }
  } */
}

@mixin button-variant-outlined($color, $background) {
  color: $color;
  border: 3px solid $color;
  background-color: $background;
  background-position: center;
  transition: background 0.8s;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    color: darken($color, 13%);
    border-color: darken($color, 13%);
    box-shadow: 0 4px 18px lighten($color, 25%), 0 1px 1px lighten($color, 22%);
    background-image: radial-gradient(circle, transparent 1%, lighten($color, 50%) 1%);
    background-position: center;
    background-size: 15000%;
  }
  &:active {
    background-color: lighten($color, 30%);
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin button-variant-contained($color, $background) {
  color: #ffffff;
  background-color: $color;
  border: 3px solid $color;
  background-position: center;
  transition: background 0.8s;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    border-color: lighten($color, 8%);
    background-color: lighten($color, 8%);
    box-shadow: 0 4px 18px lighten($color, 25%), 0 1px 1px lighten($color, 22%);
    background-image: radial-gradient(circle, transparent 1%, lighten($color, 8%) 1%);
    background-position: center;
    background-size: 15000%;
  }
  &:active {
    background-color: darken($color, 13%);
    border-color: darken($color, 13%);
    color: #ffffff;
    background-size: 100%;
    transition: background 0s;
  }
}

@mixin margin {
  &_margin {
    &_none {
      margin: 0;
    }
    &_normal {
      margin: spacing(2);
    }
    &_dense {
      margin: spacing(1);
    }
  }
}

@mixin size {
  &_size {
    @each $name, $size, $padding in $sizes {
      &_#{$name} {
        font-size: $size;
        padding-top: $padding;
        padding-bottom: $padding;
      }
    }
  }
}

@mixin type {
  &_type {
    &_rounded {
      border-radius: spacing(4);
    }
    &_straight {
      border-radius: 0px;
    }
  }
}

.Button {
  &-StartIcon {
    margin: 0 spacing(1);
  }
  &-EndIcon {
    margin: 0 spacing(1);
  }
  &Outlined {
    @extend %base-button;
    @include size;
    @include type;
    @include margin;

    &_color {
      @each $name, $color in $colors {
        &_#{$name} {
          @include button-variant-outlined($color, rgba(0, 0, 0, 0));
        }
      }
    }

    &.fullWidth {
      width: 100%;
    }
  }
  &Contained {
    @extend %base-button;
    @include size;
    @include type;
    @include margin;

    &_color {
      @each $name, $color in $colors {
        &_#{$name} {
          @include button-variant-contained($color, rgba(0, 0, 0, 0));
        }
      }
    }

    &.fullWidth {
      width: 100%;
    }
  }
  /* DO: WIP
  &Flattened {
  }
  &Circular {
  } */
}
