@import '../../../App/App.scss';

.Card-container {
  background-color: $white;
  border-top: 3px solid $primaryMain;
  box-sizing: border-box;
  box-shadow: 0 2px 20px 0 rgba(210, 226, 241, 0.9);
  border-radius: 3px;
  margin: 1em 0.5em;
  min-width: 300px;
  max-width: 450px;
}

@media screen and (min-width: 900px) {
  .Card-container {
    min-width: 400px;
  }
}
