@import "../../../App/App.scss";

.Typography {
  &_variant {
    &_h1 {
      font-size: xx-large;
    }
    &_h2 {
      font-size: x-large;
    }
    &_h3 {
      font-size: large;
    }
    &_h4 {
      font-size: large;
    }
    &_h5 {
      font-size: large;
    }
    &_h6 {
      font-size: large;
    }
    &_subtitle {
      font-size: larger;
    }
    &_body {
      font-size: medium;
    }
    &_caption {
      font-size: small;
    }
    &_button {
      font-size: x-small;
    }
    &_overline {
      font-size: xx-small;
    }
  }

  &_align {
    &_inherit {
      text-align: inherit;
    }
    &_left {
      text-align: left;
    }
    &_center {
      text-align: center;
    }
    &_right {
      text-align: right;
    }
    &_justify {
      text-align: justify;
    }
  }

  &_color {
    &_initial {
      color: initial;
    }
    &_inherit {
      color: inherit;
    }
    &_primary {
      color: $primaryMain;
    }
    &_secondary {
      color: $secondaryMain;
    }
    &_primaryContrastText {
      color: $primaryContrastText;
    }
    &_secondaryContrastText {
      color: $secondaryContrastText;
    }
    &_success {
      color: $success;
    }
    &_error {
      color: $danger;
    }
    &_warning {
      color: $warning;
    }
    &_info {
      color: $informational;
    }
    &_black {
      color: $black;
    }
    &_white {
      color: $white;
    }
  }

  &_display {
    &_initial {
      display: initial;
    }
    &_block {
      display: block;
    }
    &_inline {
      display: inline;
    }
  }
}
